/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

.wrapper {
  width: 1460px;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }
  .wrapper--navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .wrapper--header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%; }
  .wrapper--services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .wrapper--project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .wrapper--values {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .wrapper--clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 850px; }
  .wrapper--company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 800px; }
  .wrapper--blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 250px; }
  .wrapper--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 1200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.navbar {
  position: fixed;
  width: 100%;
  height: 115px;
  background-color: #ffffff;
  z-index: 999;
  border-bottom: 1px solid #777777;
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; }
  .navbar .navbar__hamburger {
    display: none; }
    .navbar .navbar__hamburger .hamburger {
      font-size: 24px;
      background: transparent;
      border: none;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      width: 40px;
      height: 40px; }
  .navbar .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
    .navbar .navbar__list .navbar__item {
      margin-left: 36px; }
      .navbar .navbar__list .navbar__item a {
        text-decoration: none;
        color: #777777;
        font-family: Montserrat, sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        -webkit-transition: color 0.1s;
        -o-transition: color 0.1s;
        transition: color 0.1s; }
        .navbar .navbar__list .navbar__item a:focus, .navbar .navbar__list .navbar__item a:hover {
          color: #7cc576; }
  .navbar--is-sticky {
    height: 80px; }
    .navbar--is-sticky .navbar__list {
      top: 81px !important; }

@media (max-width: 1480px) {
  .wrapper--navbar {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

@media (max-width: 710px) {
  .navbar .navbar__hamburger {
    display: block; }
  .navbar .navbar__logo {
    margin-right: 20px; }
  .navbar .navbar__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
    height: 0px;
    top: 116px;
    overflow: hidden;
    -webkit-transition: height 0.4s ease-in-out, top 0.3s;
    -o-transition: height 0.4s ease-in-out, top 0.3s;
    transition: height 0.4s ease-in-out, top 0.3s; }
    .navbar .navbar__list .navbar__item {
      margin: 0;
      line-height: 30px; }
    .navbar .navbar__list--is-active {
      height: 150px; } }

.header {
  width: 100%;
  height: 730px;
  background-image: url("imgs/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center; }
  .header .header__desc {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 70px;
    margin-top: 100px; }
  .header .header__para {
    color: #cccccc;
    font-family: Roboto Slab, serif;
    font-size: 20px;
    margin-top: 30px; }
  .header .header__button {
    width: 200px;
    height: 60px;
    text-align: center;
    background-color: #7cc576;
    color: #ffffff;
    border-radius: 50px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-top: 60px; }
    .header .header__button:focus, .header .header__button:hover {
      color: #7cc576;
      background-color: #ffffff; }

@media (max-width: 375px) {
  .header .header__desc {
    font-size: 50px; } }

.services {
  width: 100%;
  height: 570px;
  text-align: center; }
  .services .services__desc {
    font-size: 40px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #222222; }
  .services .services__para {
    font-size: 20px;
    color: #777777;
    font-family: Roboto Slab, serif; }
  .services .services__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 80px; }
    .services .services__container .services__service {
      height: 180px;
      width: 290px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .services .services__container .services__service h3 {
        color: #222222;
        font-size: 18px;
        font-family: Montserrat, sans-serif;
        text-transform: uppercase;
        font-weight: bold; }
      .services .services__container .services__service p {
        color: #777777;
        font-family: Roboto Slab, serif;
        font-size: 14px;
        position: relative;
        bottom: 25px; }

@media (max-width: 1476px) {
  .services .wrapper {
    width: 100%; } }

@media (max-width: 886px) {
  .services {
    height: 700px; } }

@media (max-width: 596px) {
  .services {
    height: 950px; }
    .services .services__container .services__service {
      margin-bottom: 30px; } }

@media (max-width: 375px) {
  .services .services__desc {
    font-size: 36px; } }

.relax {
  width: 100%;
  height: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .relax .relax__gear {
    height: 100%;
    background-color: #e9e9e9;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .relax .relax__gear img {
      position: relative;
      right: -190px; }
  .relax .relax__content {
    height: 100%;
    background-image: url("imgs/just-relax.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 70%;
    z-index: 1; }
    .relax .relax__content .relax__overlay {
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .relax .relax__content .relax__overlay .relax__wrapper {
        margin-left: 100px; }
        .relax .relax__content .relax__overlay .relax__wrapper .relax__desc {
          font-size: 40px;
          font-family: Montserrat, sans-serif;
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 15px;
          color: #ffffff;
          line-height: 50px;
          margin-bottom: 30px; }
        .relax .relax__content .relax__overlay .relax__wrapper .green {
          color: #7cc576; }
        .relax .relax__content .relax__overlay .relax__wrapper .relax__para {
          color: #cccccc;
          font-family: Roboto Slab, serif;
          font-size: 16px;
          line-height: 25px;
          margin-bottom: 17px;
          width: 500px; }
        .relax .relax__content .relax__overlay .relax__wrapper .relax__whatdo {
          width: 300px;
          margin-bottom: 3px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .relax .relax__content .relax__overlay .relax__wrapper .relax__whatdo .fa-stack {
            font-size: 20px;
            color: #cccccc; }
          .relax .relax__content .relax__overlay .relax__wrapper .relax__whatdo h3 {
            color: #cccccc;
            font-family: Roboto Slab, serif;
            font-size: 16px;
            position: relative;
            left: 30px; }

@media (max-width: 873px) {
  .relax .relax__gear {
    display: none; }
  .relax .relax__content {
    width: 100%; } }

@media (max-width: 616px) {
  .relax .relax__content .relax__overlay .relax__wrapper {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0; }
    .relax .relax__content .relax__overlay .relax__wrapper .relax__para {
      width: 100%; } }

.project {
  width: 100%;
  height: 1000px;
  background-image: url("imgs/ipad.png");
  background-repeat: no-repeat;
  background-position: right; }
  .project .project__desc {
    font-size: 40px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #222222; }
  .project .project__para {
    font-size: 20px;
    color: #777777;
    font-family: Roboto Slab, serif;
    margin-bottom: 100px; }
  .project .project__content {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 90px;
    margin-bottom: 200px; }
    .project .project__content .project__name {
      font-size: 40px;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 15px;
      color: #222222;
      font-size: 18px; }
    .project .project__content .project__para {
      font-size: 16px;
      width: 433px;
      line-height: 22px;
      margin-bottom: 25px; }
    .project .project__content .project__features {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 15px; }
      .project .project__content .project__features .circle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 60px;
        height: 60px;
        border: 3px solid #222222;
        border-radius: 50px; }
      .project .project__content .project__features .project__info {
        margin-left: 15px; }
      .project .project__content .project__features h4 {
        font-size: 40px;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: #222222;
        font-size: 18px;
        margin-bottom: 2px; }
      .project .project__content .project__features p {
        font-size: 20px;
        color: #777777;
        font-family: Roboto Slab, serif;
        font-size: 16px; }
    .project .project__content .project__para:nth-of-type(2) {
      width: 500px;
      margin-top: 15px;
      margin-bottom: 25px; }
    .project .project__content a {
      color: #7cc576;
      text-transform: uppercase;
      font-weight: bold;
      font-family: Montserrat, sans-serif;
      text-decoration: none; }
      .project .project__content a span {
        position: relative; }
      .project .project__content a:focus span, .project .project__content a:hover span {
        left: 5px; }

@media (max-width: 1476px) {
  .project .wrapper {
    width: 100%; } }

@media (max-width: 1184px) {
  .project {
    background-image: none; }
    .project .project__content {
      -ms-flex-item-align: center;
          align-self: center;
      margin: 0; } }

@media (max-width: 540px) {
  .project {
    text-align: center; }
    .project .project__content {
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .project .project__content .project__para {
        width: 90%;
        margin-bottom: -10px; }
      .project .project__content .project__features {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .project .project__content .project__features .circle {
          margin-bottom: 10px;
          margin-top: 20px; }
        .project .project__content .project__features .project__info {
          margin: 0; }
      .project .project__content .project__para:nth-of-type(2) {
        width: 90%;
        margin-top: 30px; } }

@media (max-width: 320px) {
  .project {
    height: 1100px; } }

.values {
  width: 100%;
  height: 450px; }
  .values .values__desc {
    font-size: 40px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #222222;
    text-align: center; }
  .values .values__para {
    font-size: 20px;
    color: #777777;
    font-family: Roboto Slab, serif;
    text-align: center; }
  .values .values__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 85px; }
    .values .values__content .values__value {
      width: 290px;
      height: 220px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
      position: relative; }
      .values .values__content .values__value .value__circle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 80px;
        height: 80px;
        border: 3px solid #777777;
        border-radius: 50px;
        position: relative; }
      .values .values__content .values__value h3 {
        font-size: 40px;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: #222222;
        font-size: 18px;
        margin-bottom: 13px;
        margin-top: 23px; }
      .values .values__content .values__value p {
        font-size: 20px;
        color: #777777;
        font-family: Roboto Slab, serif;
        font-size: 14px; }
    .values .values__content .values__value:nth-of-type(2)::after {
      content: "";
      width: 100%;
      height: 3px;
      background-color: #777777;
      position: absolute;
      top: 60px;
      left: 250px; }
    .values .values__content .values__value:nth-of-type(2)::before {
      content: "";
      width: 100%;
      height: 3px;
      background-color: #777777;
      position: absolute;
      top: 60px;
      right: 250px; }

@media (max-width: 1476px) {
  .values .wrapper {
    width: 100%; }
  .values .values__content .values__value:nth-of-type(2)::before,
  .values .values__content .values__value:nth-of-type(2)::after {
    width: 0; } }

@media (max-width: 886px) {
  .values {
    height: 600px; } }

@media (max-width: 596px) {
  .values {
    height: 800px; } }

@media (max-width: 320px) {
  .values {
    height: 1000px; } }

.clients {
  width: 100%;
  height: 950px; }
  .clients .clients__desc {
    font-size: 40px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #222222;
    text-align: center; }
  .clients .clients__para {
    font-size: 20px;
    color: #777777;
    font-family: Roboto Slab, serif;
    text-align: center; }
  .clients .clients__client {
    width: 550px;
    margin-top: 210px; }
    .clients .clients__client p {
      font-size: 20px;
      color: #777777;
      font-family: Roboto Slab, serif;
      font-size: 22px;
      position: relative; }
    .clients .clients__client h3 {
      font-size: 20px;
      color: #777777;
      font-family: Roboto Slab, serif;
      font-size: 18px;
      color: #7cc576;
      text-align: center;
      margin-top: 12px; }
      .clients .clients__client h3::before {
        content: "- "; }
  .clients .clients__client:first-of-type {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .clients .clients__client:last-of-type {
    -ms-flex-item-align: start;
        align-self: flex-start; }

@media (max-width: 866px) {
  .clients .wrapper--clients {
    width: 90%; }
  .clients .clients__client:first-of-type,
  .clients .clients__client:last-of-type {
    -ms-flex-item-align: center;
        align-self: center; }
  .clients .clients__client {
    width: 100%;
    text-align: center;
    margin-top: 130px; } }

.contact {
  width: 100%;
  height: 300px;
  background-color: #7cc576;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center; }
  .contact .contact__desc {
    font-size: 40px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #ffffff; }
  .contact .contact__btn {
    width: 200px;
    height: 60px;
    text-align: center;
    background-color: #7cc576;
    color: #ffffff;
    border-radius: 50px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 10px;
    border: 3px solid #ffffff;
    margin-top: 10px; }
    .contact .contact__btn:focus, .contact .contact__btn:hover {
      color: #7cc576;
      background-color: #ffffff; }

.company {
  width: 100%;
  height: 165px; }

@media (max-width: 816px) {
  .company {
    height: 200px; }
    .company .wrapper--company {
      width: 100%; } }

@media (max-width: 320px) {
  .company {
    height: 300px; }
    .company .wrapper--company {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.blog {
  width: 100%;
  height: 400px;
  background-color: #222222;
  color: #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .blog h2 {
    font-size: 40px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #cccccc;
    font-size: 18px; }
  .blog .fa {
    font-size: 35px; }
  .blog .fa-envelope {
    font-size: 18px; }
  .blog .blog__contact {
    -ms-flex-item-align: start;
        align-self: flex-start; }
    .blog .blog__contact .contact__address {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 10px; }
      .blog .blog__contact .contact__address address {
        margin-left: 10px;
        font-family: Roboto Slab, serif;
        line-height: 25px; }
      .blog .blog__contact .contact__address p {
        margin-left: 10px;
        font-family: Roboto Slab, serif;
        -ms-flex-item-align: center;
            align-self: center; }
      .blog .blog__contact .contact__address a {
        text-decoration: none;
        color: #cccccc;
        -ms-flex-item-align: center;
            align-self: center;
        margin-left: 10px; }
        .blog .blog__contact .contact__address a:hover {
          color: #777777; }
  .blog .blog__posts {
    -ms-flex-item-align: start;
        align-self: flex-start; }
    .blog .blog__posts .fa {
      font-size: 24px; }
    .blog .blog__posts .fa-play {
      margin-right: 9px; }
    .blog .blog__posts .posts__post {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 15px; }
      .blog .blog__posts .posts__post a {
        margin-left: 10px;
        font-family: Roboto Slab, serif;
        -ms-flex-item-align: center;
            align-self: center;
        text-decoration: none;
        color: #cccccc; }
        .blog .blog__posts .posts__post a:hover {
          color: #777777; }
  .blog .blog__tweets {
    -ms-flex-item-align: start;
        align-self: flex-start; }
    .blog .blog__tweets .fa {
      font-size: 30px; }
    .blog .blog__tweets .tweets__tweet {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 10px; }
      .blog .blog__tweets .tweets__tweet a {
        width: 240px;
        font-family: Roboto Slab, serif;
        color: #cccccc;
        display: block;
        text-decoration: none;
        margin-left: 10px;
        line-height: 22px; }
        .blog .blog__tweets .tweets__tweet a:hover {
          color: #777777; }
      .blog .blog__tweets .tweets__tweet .twitter__tag {
        font-weight: bold; }
      .blog .blog__tweets .tweets__tweet .twitter__time {
        font-size: 12px; }

@media (max-width: 757px) {
  .blog {
    height: 850px; }
    .blog h2 {
      text-align: center; }
    .blog .wrapper--blog {
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .blog .wrapper--blog .blog__tweets,
      .blog .wrapper--blog .blog__posts,
      .blog .wrapper--blog .blog__contact {
        -ms-flex-item-align: center;
            align-self: center;
        margin-bottom: 30px; }
      .blog .wrapper--blog .posts__post {
        margin-left: 20px; }
      .blog .wrapper--blog .contact__address {
        margin-left: 30px; } }

.footer {
  width: 100%;
  height: 100px; }
  .footer p {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    color: #555555; }
  .footer .footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 100px; }
    .footer .footer__socials a {
      margin-left: 8px;
      width: 40px;
      height: 40px;
      display: block;
      background-color: #222222;
      border-radius: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-decoration: none;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .footer .footer__socials a span {
        color: #ffffff;
        font-size: 20px; }
      .footer .footer__socials a:focus, .footer .footer__socials a:hover {
        background-color: #ffffff; }
        .footer .footer__socials a:focus span, .footer .footer__socials a:hover span {
          color: #222222; }

@media (max-width: 1216px) {
  .footer .wrapper--footer {
    width: 80%; } }

@media (max-width: 757px) {
  .footer .wrapper--foter {
    width: 100%; }
  .footer .footer__socials {
    margin: 0; } }

@media (max-width: 385px) {
  .footer {
    text-align: center; }
    .footer .wrapper--footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .footer .footer__socials {
      margin-top: 5px; } }
